<!--File Name: COMP229-W2022-Midterm-301202722
Student Name: Gokulraj Venugopal
Student ID: 301202722
Date: 05-March-2022 
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
